.hidden {
    display: none;
}

:root {
    /* ===============fonts ==============*/
    --main-font: "Roboto", sans-serif;
    /* ================colors============== */
    --color-iris: #4D5AE5;
    --color-ocean: #404BBF;
    --color-navy-blue: #2E2F42;
    --color-green: #31D0AA;
    --color-slate: #434455;
    --color-light-slate: #8E8F99;
    --color-cornflower: #E7E9FC;
    --color-cloud: #F4F4FD;
    --color-navy-blue-modal: #2E2F42;
    --color-grey: #2E2F42;
    --color-white: #ffffff;
    --color-dairy: #FCFCFC;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*==========================body============================*/
body {
    font-family: "Roboto", sans-serif;
    color: var(--color-slate);
    background-color: var(--color-white);
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* =============comon============================== */

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
}
    }

    /* =================header=================== */

.header {
    border-bottom: 1px solid var(--color-cornflower);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-list,
.header-address {
    display: none;
}

.header-nav-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
    padding: 16px 0;
    display: block;
}

.header-nav-logo-span {
    color: var(--color-navy-blue);
}

.burger {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width:768px) {
    .burger {
        display: none;
    }

    .header-nav-list {
    color: var(--color-navy-blue);
    display: flex;
    gap: 40px;
    align-items: center;
    }

    .header-nav-studio {
        padding: 24px 0;
        display: block;
        margin-right: 120px;
    }

    .nav-list-social-a {
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-list-social-a.studio {
        position: relative;
        color: var(--color-ocean);
        padding: 24px 0;
    }

    .nav-list-social-a.studio::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--color-ocean);
    }

    .header-nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-navy-blue);
        display: flex;
        align-items: center;
    }

    .header-social-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 12px;
    letter-spacing: 0.04em;
    }

    .header-social-list-item:hover,
    :focus {
        color: var(--color-ocean);
    }

    .nav-list-social:hover,
    :focus {
        color: var(--color-ocean);
    }

    .header-address {
        font-style: normal;
        display: block;
    }
}

@media screen and (min-width:1158px) {
    .header-nav-studio {
        margin-right: 76px;
    }

    .header-social-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .nav-list-social-a {
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 24px 0;
        line-height: 1.5;
        font-size: 16px;
        letter-spacing: 0.02em;
    }
}

/* ============mobile menu==================  */

@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--color-cornflower);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: var(--color-ocean);
    border: none;
    fill: var(--color-white);
}

.mobile-menu-nav {
    margin-bottom: auto;
}


.mobile-menu-li {
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: var(--color-grey);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-tel-link:hover,
.mobile-tel-link:focus,
.mobile-menu-li:hover,
.mobile-menu-li:focus {
    color: var(--color-ocean);
}

.mobile-tel-link {
    padding-bottom: 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 48px;
}

.mobile-icons-li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-iris);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icons-li:hover,
.mobile-icons-li:focus {
    background-color: var(--color-ocean);
}


.mobile-icons-inst {
    display: block;
    fill: var(--color-cloud);
}


/*================== section1 ======================*/

.button:hover,
.button:focus {
    background: var(--color-ocean);
}

.business {
    max-width: 320px;
    padding: 72px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.business-text {
    max-width: 216px;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
    margin: 0px auto;
    margin-bottom: 72px;
}

.button {
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: var(--color-iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin: 0px auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
:focus {
    background-color: var(--color-ocean);
}

@media screen and (min-width:768px) {
    .business {
        padding: 112px 0;
        max-width: 768px;
    }

    .business-text {
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media (min-width: 768px) {
    .business {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero.jpg);
    }

    @media (resolution: 192dpi) {
        .business {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero.jpg);
        }
    }
}

@media (min-width: 1158px) {
    .business {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero.jpg);
    }

    @media (resolution: 192dpi) {
        .business {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero.jpg);
        }
    }
}

@media screen and (min-width: 1158px) {
    .business {
        padding: 188px 0;
        max-width: 1440px;
    }

    .business-text {
        max-width: 496px;
        margin-bottom: 48px;
        font-size: 56px;
    }
}

/* ====================SECTION-2=================== */

.points {
    padding: 96px 0;
}

.ulkatwosection {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

/* icons */

.icons {
    display: none;
}

.points-one {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
    text-align: center;
}

.points-one-text {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
} 


@media screen and (min-width: 768px) {
    .points {
        max-width: 1158px;
        padding-bottom: 96px;
    }

    .points-one {
        display: flex;
        align-items: start;
    }

    .ulkatwosection {
        display: flex;
        gap: 24px;
    }

    .points-li {
        width: calc((100% - 24px) / 2);
        padding-bottom: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .points {
        padding: 120px 0;
        margin: 0 auto;
    }

    .points-one {
        max-width: 1128px;
        display: flex;
        gap: 24px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .icons {
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-light-slate);
        border-radius: 4px;
        background-color: var(--color-cloud);
        height: 112px;
        display: flex;
    }

    .points-li {
        max-width: 264px;
        height: auto;
        width: calc((100% - 24px) / 4);
    }
}

/* ===================SECTION-3================== */

.container .container-team {
    max-width: 320px;
}

.section-team {
    margin-bottom: 96px;
}

.card {
    margin: 0 auto;
    height: 40px;
    margin-bottom: 72px;
    text-align: center;
}

.card-foto {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin-bottom: 96px;
    justify-content: center;
}

.card-hero-position {
    padding: 32px 0;
}

.card-hero {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-navy-blue);
}

.card-hero-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-slate);
    margin-bottom: 8px;
}

.our-team-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-icons {
    width: 40px;
    height: 40px;
}

.ashka-icons {
    border-radius: 50%;
    background-color: var(--color-iris);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inst-twit-fac-lin {
    fill: var(--color-cloud);
}

.card-li {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--color-white);
    background-color: var(--color-white);
}

.ashka-icons:hover,
.ashka-icons:focus {
    background-color: var(--color-ocean);
}

@media screen and (min-width: 768px) {
    .container-team {
        padding-left: 108px;
        padding-right: 108px;
    }

    .card {
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--color-grey);
    }

    .card-li {
        margin: 0 auto;
        column-gap: 64px;
        row-gap: 24px;
    }

    .section-team {
        background-color: var(--color-cloud);
        padding: 96px 0;
    }

    .card-foto {
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .container-team {
        padding: 0;
        max-width: 1128px;
    }

    .card-foto {
        display: flex;
        gap: 24px;
    }

    .card-li {
        border-radius: 0 0 4px 4px;
        width: calc((100% - 72px) / 4);
    }
}

/* =================SECTION-4=============== */

.section-app {
    width: 320px;
    margin: 0 auto;
}

.portfolio {
    margin-bottom: 72px;
    width: 288px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-navy-blue);
    text-transform: capitalize;
}

.portfolio-foto {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    margin-bottom: 96px;
}

.portfolio-li {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.portfolio-images {
    position: relative;
    overflow: hidden;
    width: 288px;
}

.pops-paragraf {
    position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-cloud);
        padding: 40px 32px;
        background-color: var(--color-iris);
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-app {
    border: 1px solid var(--color-cornflower);
    border-top: none;
    padding: 32px 16px;
}

.portfolio-h-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

@media screen and (min-width: 768px) {
    .section-app {
        width: 736px;
    }

    .portfolio {
        margin: 0 auto;
        margin-bottom: 72px;
    }

    .portfolio-foto {
        column-gap: 24px;
        row-gap: 64px;
        margin-bottom: 96px;
    }
}

@media screen and (min-width: 1158px) {
    .section-app {
        width: 1128px;
        padding: 120px 0 120px 0;
    }

    .portfolio-foto {
        width: 1128px;
        row-gap: 48px;
    }

    .portfolio-li {
        width: calc((100% - 48px) / 3);
    }
    .portfolio-li {    
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: none;
    }

    .portfolio-h {
        margin-bottom: 8px;
    }

    .portfolio-images {
        width: 360px;
    }

    .portfolio-app {
        padding: 32px 16px;
        width: 360px;
    }

    .portfolio-app:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .portfolio-li:hover .pops-paragraf {
        transform: translateY(0%);
    }
}

/* =============FOOTER================= */

.footer {
    background-color: var(--color-navy-blue);
    width: 320px;
    margin: 0 auto;
}

.container-footer {
    display: flex;
    flex-wrap: wrap;
}

.daddy-logo-p {
    margin-top: 96px;
    margin-bottom: 72px;
}

.footer-nav-studio {
    display: inline-block;
    padding-bottom: 16px;
    padding-left: 86px;
    padding-right: 86px;
    color: var(--color-iris);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.footer-nav-studio .footer-nav-logo-span {
    color: var(--color-cloud);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
}

.div-icons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin: 0 auto;
    margin-bottom: 72px;
}

.team-icons-href {
    fill: var(--color-cloud);
}

.social-media {
    margin-bottom: 16px;
    text-align: center;
}

.our-team-icons-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-href {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-href:hover,
.footer-href:focus {
    background-color: var(--color-green);
}

.footer-form-subscribe {
    gap: 24px;
}

.footer-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-bottom: 16px;
    text-align: center;
}

.footer-input {
    background-color: transparent;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--color-white);
    margin-bottom: 16px;
    padding-left: 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
}

.footer-label::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--color-white);
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: var(--color-iris);
    border: none;
    margin: 0 auto;
    margin-bottom: 72px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--color-white);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
    border-color: var(--color-green);
}

.footer-svg {
    margin-left: 16px;
    fill: var(--color-white);
}

.footer-button:hover,
.footer-button:focus {
    background-color: var(--color-green);
}

@media screen and (min-width: 768px) {
    .footer {
        width: 768px;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    .daddy-logo-p {
        width: 264px;
        padding-top: 0;
    }

    .div-icons {
        margin-top: 96px;
    }

    .container-footer {
        margin-left: 108px;
    }

    .footer-form-subscribe {
        margin-bottom: 96px;
    }

    .footer-subscribe {
        text-align: start;
    }

    .footer-nav-studio {
        padding-left: 0;
    }

    .social-media {
        text-align: start;
    }

    .footer-button {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        width: 1440px;
        padding: 100px 0;
    }

    .container-footer {
        display: flex;
        align-items: baseline;
        margin-left: 156px;
        margin-right: 159px;
    }

    .daddy-logo-p {
        margin-right: 120px;
    }

    .footer-text {
        width: 264px;
    }

    .social-media {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-white);
        margin-bottom: 16px;
    }

    .footer-form-subscribe {
        margin-left: auto;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }
}

/* =================MODALKA======================= */

.backdrop {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: var(--color-dairy);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    width: 288px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.modal-button {
    height: 24px;
    width: 24px;
    position: absolute;
    border-radius: 50%;
    top: 24px;
    right: 24px;
    cursor: pointer;
    background-color: var(--color-cornflower);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--color-ocean);
    border: none;
    fill: var(--color-white);
}

.button-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-modalka {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-navy-blue);
    margin-bottom: 16px;
    width: 256px
}

.form-div {
    margin-bottom: 8px;
}

.form-div-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
    display: block;
    margin-bottom: 4px;
    align-items: center;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: var(--color-iris);
}

.form-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.text-area::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.label-checkbox {
    width: 360px;
    height: 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
    display: flex;
    align-items: center;
}

.label-div {
    fill: var(--color-navy-blue);
    position: relative;
}

.label-div svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.form-input:focus~svg {
    fill: var(--color-iris);
}

.text-area {
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area:focus {
    border-color: var(--color-iris);
}

.form-div-coment {
    margin-bottom: 16px;
}

.checkbox-div {
    margin-bottom: 24px;
}

.span-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

#user-privacy:checked+.label-checkbox .span-checkbox {
    background-color: var(--color-ocean);
    border: none;
    fill: var(--color-cloud);
}

.highlight {
    color: var(--color-iris);
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }

    .span-checkbox {
        width: 360px;
    }

    .text-modalka {
        width: 360px;
    }
}

